html, body {
  /* Use 100% height for flow from HTML down to body */
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  /* Use 100% height here to respect the html/body height definitions */
  height: 100%; 
  background-color: #0a0a0a;
  font-family: 'Instrument Sans', sans-serif;
  color: white;
  overflow: auto; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
