html, body, #root {
  height: 100%; /* Ensures the html, body, and root div take up the full viewport height */
}

body {
  background-color: #0a0a0a;
  margin: 0;
  /* Removed centering properties to allow content to flow naturally */
  min-height: 100vh; /* Kept for fallback, but 100% is more reliable on mobile */
  font-family: 'Instrument Sans', sans-serif;
  color: white;
  overflow: auto; /* Allows scrolling if content exceeds screen size */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
